.image-container {
  display: flex;
  align-items: flex-start;
  min-height: 550px;
  margin-right: auto
}

.img-section1 {
  position: relative;
  margin: auto;
}

.img-section2 {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: auto;
}

.img-1 {
  position: relative;
  margin-left: 20px;
  left: 10px;
  transform: scale(1.15);
  z-index: 10;
}

.img-2 {
  position: relative;
  margin-left: auto;
  margin-right: 65px;
  bottom: 20px;
  left: 40px;
  transform: scale(1.4);
  z-index: 11;
}

.img-3 {
  position: relative;
  margin-left: 20px;
  transform: scale(1.25);
  z-index: 12;
}

.img-4 {
  position: relative;
  margin-left: auto;
  margin-right: 25px;
  transform: scale(1.25);
  right: 10px;
  bottom: 30px;
  z-index: 13;
}