.nav-link {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 12px;
  border: 3px solid white;
  padding: 5px 10px;
  transition: 0.25s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transform: translateY(-4px);
}