.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.form-logo {
  height: 50px;
  filter: invert(87%) sepia(20%) saturate(7361%) hue-rotate(321deg) brightness(103%) contrast(101%);
}

.text-area {
  color: rgba(0, 0, 0, 0.6);
  border: 3px solid #FF9244;
  border-radius: 15px;
  resize: none;
  width: 100%;
  height: 15vh;
  padding: 5px 8px;
  overflow: hidden;
  margin: 0px 5px;
}

.text-area:focus {
  outline: 0;
}

.form-button {
  color: white;
  background-color: #FF9244;
  font-size: 25px;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  box-shadow: 4px 4px 0 #e96100;
  transition: 0.12s;
}

.form-button:active {
  box-shadow: 0 0 0 #e96100;
  transform: translate(4px, 4px);
}

.form-button:hover {
  background-color: #ff9b54
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}